includes:
    - vendor/spryker-sdk/phpstan-spryker/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 5
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    tmpDir: phpstanCache
    scanDirectories:
        - src/Orm/Zed
        - src/Generated
